@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


.font-playfair {
    font-family: 'Playfair Display', serif;
}

.font-montserrat {
    font-family: "Montserrat", serif;
}

.font-exo-2 {
    font-family: "Exo 2", serif;
}

